<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwl90jV8wJi8uj-TK7HeBIHB_c4f8KhGY</string>
	<key>GCM_SENDER_ID</key>
	<string>836352095359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokiniaCalculator</string>
	<key>PROJECT_ID</key>
	<string>pokinia-calculator-flutter-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>pokinia-calculator-flutter-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836352095359:ios:8556e1b0ee673faa33bb4a</string>
</dict>
</plist>